header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;

    .header__logo {
      // remained width of header container
      display: flex;
      flex-grow: 1;

      .icon {
        font-size: 10rem;
      }
    }

    .header__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header__nav-container {
        display: flex;

        .header__nav-text {
          margin-right: 1.2rem;
        }

        .header__nav-icon {
          background-color: $bg-black;
        }

        .header__nav-icon:not(:last-child) {
          margin-right: 8px;
        }
      }
      .header__nav-desc {
        font-size: 3rem;
        font-weight: $font-semi;
      }
    }
  }
}
