section.home {
  height: 100vh;

  .home__container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;

    .home__btn-container {
      display: flex;
      column-gap: 8px;
    }

    .home__desc {
      font-size: 1.2rem;
      font-weight: $font-semi;
    }
  }
}
